/* Variables */
:root {
	--bckgrnd-black: rgb(43, 37, 37);
	--fnt-white: snow;
}

/* Navbar and navigation links */
nav {
	color: var(--fnt-white);
	background: var(--bckgrnd-black);
	width: 100%;
	height: 80px;
	padding-right: 100px;
	padding-top: 20px;
}

.nav-link {
	color: rgb(127, 182, 255);
}

/* Hero section */
.jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/matrix-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0;
}

.jumboCopy {
	color: var(--fnt-white);
	width: 70%;
	min-width: 500px;
	max-width: 700px;
	text-align: center;
	position: relative;
}

.jumboCopy p {
	font-size: 25px;
}

.profile-pic {
	border-radius: 50%;
}

/* Main Section */


/* About Me */
.about-mf .box-shadow-full {
	padding-top: 4rem;
	padding-bottom: 4rem;
  }
  
  .about-mf .about-img {
	margin-bottom: 2rem;
  }
  
  .about-mf .about-img img {
	margin-left: 10px;
  }
  
  @media (min-width: 767px) {
	.about-mf .box-pl2 {
	  margin-top: 3rem;
	  padding-left: 0rem;
	}
  }
  
  .skill-mf span {
	color: #4e4e4e;
  }
  
  .skill-mf .progress {
	background-color: #cde1f8;
	margin: 0.5rem 0 1.2rem 0;
	border-radius: 0;
	height: 0.7rem;
  }
  
  .skill-mf .progress .progress-bar {
	height: 0.7rem;
	background-color: #0078ff;
  }

  /* #personal-data-container {
	justify-items: flex-end;
	padding-bottom: 50px;
  } */


/* Work section */
#work {
	background-color: var(--bckgrnd-black);
	color: var(--fnt-white);
	padding: 50px;
}

#work-section-heading {
	text-align: center;
}

.container {
	padding-top: 20px;
}

#first-row {
	padding-bottom: 50px;
}

.card-body h5, .card-body p {
	color: var(--bckgrnd-black);
}

.card-body {
	text-align: center;
}